.navbar {
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 250px;
    cursor: pointer;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #422b23;
    text-transform: uppercase;

}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #422b23;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

body {
    background: linear-gradient(#f7f3ed, #efd8d6, #d8a1a2);
    height: 1000px;


}